In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
dataset = pd.read_csv("./50_Startups.csv")
dataset.head(3)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39

# Multiple_Linear_Regression/


**y = b0 + b1\*x1 + b2\*x2 + ... + bn\*xn**
    
    where
    bi = constants
    y = dependent variable
    x = independent variables

## Assumption of Linear Regression

1. linearity
2. homoscedasticity
3. multivariate normality
4. independence of errors
5. lack of multicollinearity

In [10]:
dataset.groupby("State").mean()

               R&D Spend  Administration  Marketing Spend         Profit
State
California  64657.674118   120746.507059    182540.929412  103905.175294
Florida     80724.016250   121768.897500    247323.551250  118774.024375
New York    76195.062353   121543.470588    205346.015882  113756.446471