In [2]:
import numpy as np

In [16]:
x = np.array((["Rajasthan", "Assam", "Goa", "Mumbai", "Delhi", "Tamil Nadu"],
              ["Jaipur", "Himachal Pradesh", "Panaji", "Mahrastra", "Delhi", 
               "Bengluru"]))
x

array([['Rajasthan', 'Assam', 'Goa', 'Mumbai', 'Delhi', 'Tamil Nadu'],
       ['Jaipur', 'Himachal Pradesh', 'Panaji', 'Mahrastra', 'Delhi',
        'Bengluru']], dtype='<U16')

In [17]:
x.shape

(2, 6)

In [18]:
x.ravel() # copy is not made. multi to 1d array

array(['Rajasthan', 'Assam', 'Goa', 'Mumbai', 'Delhi', 'Tamil Nadu',
       'Jaipur', 'Himachal Pradesh', 'Panaji', 'Mahrastra', 'Delhi',
       'Bengluru'], dtype='<U16')

In [19]:
x.T # transpose

array([['Rajasthan', 'Jaipur'],
       ['Assam', 'Himachal Pradesh'],
       ['Goa', 'Panaji'],
       ['Mumbai', 'Mahrastra'],
       ['Delhi', 'Delhi'],
       ['Tamil Nadu', 'Bengluru']], dtype='<U16')

In [21]:
x.reshape(4,3)

array([['Rajasthan', 'Assam', 'Goa'],
       ['Mumbai', 'Delhi', 'Tamil Nadu'],
       ['Jaipur', 'Himachal Pradesh', 'Panaji'],
       ['Mahrastra', 'Delhi', 'Bengluru']], dtype='<U16')

In [28]:
x.reshape((-1, 2)) # -1  unknown row

array([['Rajasthan', 'Assam'],
       ['Goa', 'Mumbai'],
       ['Delhi', 'Tamil Nadu'],
       ['Jaipur', 'Himachal Pradesh'],
       ['Panaji', 'Mahrastra'],
       ['Delhi', 'Bengluru']], dtype='<U16')

# Splitting

In [30]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [34]:
np.split(x, 2)

[array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9])]

In [35]:
np.split(x, 3)

ValueError: array split does not result in an equal division

In [39]:
np.split(x, [6,9])

[array([0, 1, 2, 3, 4, 5]), array([6, 7, 8]), array([9])]

In [41]:
a = np.array((["Rajasthan", "Assam", "Goa", "Mumbai", "Delhi", "Tamil Nadu"],
              ["Jaipur", "Himachal Pradesh", "Panaji", "Mahrastra", "Delhi", 
               "Bengluru"]))
a

array([['Rajasthan', 'Assam', 'Goa', 'Mumbai', 'Delhi', 'Tamil Nadu'],
       ['Jaipur', 'Himachal Pradesh', 'Panaji', 'Mahrastra', 'Delhi',
        'Bengluru']], dtype='<U16')

In [44]:
np.hsplit(a, 3)

[array([['Rajasthan', 'Assam'],
        ['Jaipur', 'Himachal Pradesh']], dtype='<U16'),
 array([['Goa', 'Mumbai'],
        ['Panaji', 'Mahrastra']], dtype='<U16'),
 array([['Delhi', 'Tamil Nadu'],
        ['Delhi', 'Bengluru']], dtype='<U16')]

In [48]:
p_1, p_2 = np.vsplit(a, 2)
print(p_1)
print(p_2)

[['Rajasthan' 'Assam' 'Goa' 'Mumbai' 'Delhi' 'Tamil Nadu']]
[['Jaipur' 'Himachal Pradesh' 'Panaji' 'Mahrastra' 'Delhi' 'Bengluru']]

In [52]:
b1, b2, b3, b4, b5, b6 = a.T