In [1]:
import numpy as np

In [33]:
x = np.arange(6).reshape(2,3)
y = np.array([[1,3,-1], [2,1,6]])
print(x)
print(y)

[[0 1 2]
 [3 4 5]]
[[ 1  3 -1]
 [ 2  1  6]]

In [11]:
x + y

array([[ 1,  4,  1],
       [ 5,  5, 11]])

In [12]:
x-y

array([[-1, -2,  3],
       [ 1,  3, -1]])

In [13]:
x*y

array([[ 0,  3, -2],
       [ 6,  4, 30]])

In [14]:
x/y

array([[ 0.        ,  0.33333333, -2.        ],
       [ 1.5       ,  4.        ,  0.83333333]])

In [15]:
x%3

array([[0, 1, 2],
       [0, 1, 2]], dtype=int32)

In [17]:
y < 3

array([[ True, False,  True],
       [ True,  True, False]])

In [19]:
x*3

array([[ 0,  3,  6],
       [ 9, 12, 15]])

In [27]:
trans_x = np.transpose(x)
print(trans_x.dot(y)) # Matrix mul
print(np.dot(trans_x, y)) #same

[[ 6  3 18]
 [ 9  7 23]
 [12 11 28]]
[[ 6  3 18]
 [ 9  7 23]
 [12 11 28]]

In [32]:
y += x # add every elements of x to y
y

array([[ 1,  6,  5],
       [11, 13, 21]])

In [30]:
y.sum()

42

In [36]:
y = y*3
y

array([[ 9, 27, -9],
       [18,  9, 54]])

In [37]:
print(y.min())
print(y.max())

-9
54

In [40]:
num = np.arange(25).reshape(5,5)
num

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [45]:
"""
axis = 0: Coloumn vise
axis = 1: Row vise
"""
num.sum(axis = 0) # col vise sum

array([50, 55, 60, 65, 70])

In [42]:
num.sum(axis = 1) # row vise sum

array([ 10,  35,  60,  85, 110])

In [43]:
num.min(axis = 1) # row vise min

array([ 0,  5, 10, 15, 20])

In [46]:
num.max(axis = 0) # col vise max

array([20, 21, 22, 23, 24])

In [48]:
num.mean(axis = 0) # col vise mean

array([10., 11., 12., 13., 14.])